@import "../../../../../../../External/commonStyles.module.scss";

.existingEmailContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  .emailRow {
    display: flex;
    align-items: center;
    gap: 20px;

    .label {
      font-weight: 600;
      font-size: 14px;
      color: var(--green);
      width: 70px;
    }

    .dropDownContainer {
      flex: 1;
      width: 100%;
      .dropDown {
        width: 46%;
      }
    }
  }
}
