@import "../../../../../External/commonStyles.module.scss";

.label {
  @include label;
}
.topSection {
  display: flex;
  gap: 8%;
  width: 100%;
  .nameDiv {
    width: 25%;
  }
  .rejectDiv {
    width: 25%;
  }
}
.stage {
  margin-bottom: 1rem;
  display: flex;
  gap: 1%;
  align-items: center;

  .deleteDiv {
    padding-top: 37px;
    color: red;
  }
}

.buttonsDiv {
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}
