@import "../../../../External/commonStyles.module.scss";
.navButtonActiveContainer {
  @include sideNavSelectableButton;
  .iconSection {
    width: 20px;
    height: 20px;
  }
  .labelSection {
    width: auto;
  }
}
.navButtonInactiveContainer {
  @include sideNavUnselectableButton;
  .iconSection {
    width: 20px;
    height: 20px;
  }
  .labelSection {
    width: auto;
  }
}
.companyLogoStyle {
  width: 100%;
  margin-bottom: 40px;

  img{
    width: 100%;
  }
}
