//Theme Colors:
$green: #16a34a;
$liteGreen: #dcfce7;
$sideNavBgColor: #f9f9f9;
$white: #ffffff;
$black: #202735;
$sideNavBodyTextColor: #7c8098;
$darkblue: #353862;

//Using Styles For Normal CssFile:
:root {
  --dataTableHeaderBgColor: #f3f4f6;
  --dataTableHeaderTextColor: #353862;
  --dataTableHeaderFontSize: 12px;
  --dataTableHeaderFontWeight: 700;
  --dataTableHeaderBorderRadius: 4px;
  --dataTableBodyTextColor: #7c8098;
  --dataTableHeaderPadding: 10px 20px;
  --dataTableBodyPadding: 6px 20px;
  --sideBarBoxShadow: -4px 4px 10px rgba(255, 255, 255, 0.5);
  --green: #16a34a;
  --red: #ff0000;
  --liteRed: #fbc8c8;
  --InputBoxLiteGreen: #16a34a5e;
  --liteGreen: #dcfce7;
  --fontSizebig: 14px;
}

//sideNavSection Selectable ButtonModel styles:
@mixin sideNavSelectableButton {
  display: flex;
  gap: 18px;
  align-items: center;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  font-size: 14px;
  background-color: $green;
  color: $white;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}
//sideNavSection UnSelectable ButtonModel styles:
@mixin sideNavUnselectableButton {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 12px;
  padding: 10px 16px 10px 16px;
  color: $sideNavBodyTextColor;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  img {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
  }
  &:hover {
    background-color: $liteGreen;
    transform: scale(1.08);
    color: $green;
    img {
      transform: scale(1.1);
    }
  }
}
//common template is being used with the styles related to the status template.
.statusItem {
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 12px;
  border-radius: 8px;
  gap: 6px;
  font-weight: 600;
}
//sideBar Header Style:
@mixin sideBarHeader {
  font-size: 16px;
  color: $green;
  font-weight: 500;
}
//multiPeoplepicker Section Style:
.Persona {
  width: 30px;
  height: 30px;
  background-color: #0a1b39;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 13px;
  .AllPersona {
    visibility: visible;
  }
}
