//Common Style Imports:
@import "../../../../External/commonStyles.module.scss";

.categorySideBarHeading {
  @include sideBarHeader;
}
.categoryContainer {
  display: flex;
  width: 100%;
  gap: 2%;
  .inputWrapper {
    width: 40%;
  }
  .buttonWrapper {
    width: 58%;
  }
}
.sideBarButtonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 3%;
  width: 100%;
}
