@import "../../../../External/commonStyles.module.scss";

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .singlelineFields,
  .multilineFields {
    display: grid;
    gap: 1rem;
  }

  .singlelineFields {
    grid-template-columns: repeat(3, 1fr);
  }

  .multilineFields {
    grid-template-columns: repeat(2, 1fr);
  }

  .inputField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .label {
      font-weight: bold;
      font-size: 13px;
      color: var(--dataTableHeaderTextColor);
    }

    .inputText,
    .inputTextArea {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      font-size: 1rem;
    }

    .invalid {
      border-color: #e74c3c;
    }

    .errorMsg {
      color: #ef250f;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
.sideBarButtonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 3%;
  width: 100%;
}
