@import "../../../../External/commonStyles.module.scss";

.filter_header_container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
  height: 60px;
  background-color: transparent;
  padding: 10px 0px 10px 0px;
  label {
    color: $black;
    font-size: 14px;
    font-weight: 700;
    width: 75%;
  }
}
.profile_header_container {
  @extend .filter_header_container;
  height: 50px;
  padding: 0px;
  background-color: $white;
  h1 {
    color: $sideNavBodyTextColor;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  label {
    @extend .filter_header_container;
    color: $green;
  }
}
