@import "../../../../External/commonStyles.module.scss";

.FilterHeader {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
  height: 50%;
  background-color: transparent;
  padding: 10px 0px 10px 0px;
  label {
    color: $black;
    font-size: 14px;
    font-weight: 700;
    width: 75%;
  }
}
.ProfileHeader {
  @extend .FilterHeader;
  height: 50%;
  padding: 10px 0px 10px 0px;
  background-color: $white;
}
